@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
html, body{
    font-family: 'Noto Sans JP', sans-serif;
    overflow: hidden;
}
body{
    height: 100vh;
    width: auto;
    background-image: linear-gradient( 135deg, #81FFEF 10%, #F067B4 100%);
}
#main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    #main_frame{
        padding: 20px;
        @media screen and (max-width: 480px) {
            padding: 10px;
        }
        background: rgba( 255, 255, 255, 0.3 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        z-index: 2000;
        #name{
            margin: 10px;
            @media screen and (max-width: 480px) {
                margin: 5px;
            }
            color: #506B92;
            font-size: 50px;
            font-weight: 900;
        }
        .text{
            color: #506B92;
            font-size: 20px;
            font-weight: 200;
        }
        #media_frame{
            margin-top: 10px;
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: row;
            .media_btn{
                width: 45px;
                height: 45px;
                border-radius: 5000px;
                background: rgba( 255, 255, 255, 0.3 );
                box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
                backdrop-filter: blur( 4px );
                -webkit-backdrop-filter: blur( 4px );
                border: 1px solid rgba( 255, 255, 255, 0.18 );
                display: flex;
                justify-content: space-around;
                align-items: center;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}
.glass{
    position: fixed;
    z-index: 3000;
    width: 40px;
    height: 40px;
    background: rgba( 248, 231, 28, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 5000px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    -webkit-transition: all 5s ease;
    -moz-transition: all 5s ease;
    -o-transition: all 5s ease;
    transition: all  5s ease;
}
#glass_1{
    left: 10%; top: 10%;
    background: rgba( 248, 231, 28, 0.25 );
}
#glass_2{
    left: 40%; top: 30%;
    background: rgba( 21, 19, 254, 0.25 );
}
#glass_3{
    left: 80%; top: 20%;
    background: rgba( 208, 2, 27, 0.25 );
}

.bg_glass{
    position: absolute;
    z-index: 1000;
    width: 400px;
    height: 300px;
    background: rgba( 248, 231, 28, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 30px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
